APScheduler~=3.11.0
fastapi~=0.116.1
starlette~=0.47.3
bson~=0.5.10
pymongo~=4.10.1
pydantic~=2.11.9
loguru~=0.7.3
python-dotenv~=1.1.1
beautifulsoup4~=4.13.4
Crawl4AI~=0.7.4
aiohttp~=3.12.15
requests~=2.32.3